/*Include in order of importance*/
@import "~@fontsource/open-sans/300.css";
@import "~@fontsource/open-sans/400.css";
@import "~@fontsource/open-sans/700.css";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Georgia", sans-serif;
}

body {
  color: #806b52;
}

body {
  margin: 0;
}

html,
body {
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover, a:focus {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}

h1,
.h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

.wrap {
  padding-right: 25px;
  padding-left: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
@media screen and (min-width: 37.5rem) {
  .wrap {
    padding-right: 50px;
    padding-left: 50px;
  }
}

.wrap-thin {
  padding-right: 25px;
  padding-left: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 760px;
}
@media screen and (min-width: 37.5rem) {
  .wrap-thin {
    padding-right: 50px;
    padding-left: 50px;
  }
}

.wrap-wide {
  padding-right: 25px;
  padding-left: 25px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}
@media screen and (min-width: 37.5rem) {
  .wrap-wide {
    padding-right: 50px;
    padding-left: 50px;
  }
}

.btn-primary {
  background-color: #ffe9c7;
  border-color: inherit;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #ffd594;
  box-shadow: none;
  border-color: inherit;
}

.block-content {
  margin-top: 25px;
  margin-bottom: 25px;
}
@media screen and (min-width: 37.5rem) {
  .block-content {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.block-content h1 {
  color: #806b52;
}

.iframe-container {
  margin-top: 20px;
}

.section-demo {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 1.25rem;
  text-align: center;
}
@media screen and (min-width: 37.5rem) {
  .section-demo {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.contact-block {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #ffe9c7;
  color: #111;
  font-size: 1.125rem;
}
@media screen and (min-width: 37.5rem) {
  .contact-block {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.contact-block img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.contact-block__heading {
  margin-bottom: 30px;
  text-align: center;
}
.contact-block__heading h2 {
  font-size: 2.625rem;
}

.contact-block__image {
  height: 350px;
}
.contact-block__image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 25rem) {
  .contact-block__image {
    height: 400px;
  }
}
@media screen and (min-width: 28.125rem) {
  .contact-block__image {
    height: 500px;
  }
}
@media screen and (min-width: 37.5rem) {
  .contact-block__inner {
    display: flex;
  }

  .contact-block__image {
    flex-basis: 50%;
    height: auto;
  }

  .contact-block__content {
    flex-basis: 50%;
    margin-left: 30px;
  }
}
.content-image {
  margin-top: 25px;
  margin-bottom: 25px;
}
@media screen and (min-width: 37.5rem) {
  .content-image {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.content-image img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.content-image__content {
  margin-bottom: 1.875rem;
}

.content-image__sub-heading {
  margin-bottom: 15px;
  text-transform: uppercase;
}

.content-image__title {
  margin-bottom: 30px;
}

.content-image__image {
  max-height: 400px;
}
.content-image__image img {
  object-fit: cover;
  width: 100%;
  max-height: 400px;
}

@media screen and (min-width: 50rem) {
  .content-image {
    display: flex;
  }

  .content-image__content {
    flex-basis: 55%;
    margin-right: 5%;
    margin-bottom: 0;
  }

  .content-image__image {
    flex-basis: 40%;
  }

  .content-image--reverse {
    flex-direction: row-reverse;
  }
  .content-image--reverse .content-image__content {
    flex-basis: 55%;
    margin-left: 5%;
  }
  .content-image--reverse .content-image__image {
    flex-basis: 40%;
  }
}
@media screen and (min-width: 75rem) {
  .content-image__content {
    flex-basis: 40%;
  }

  .content-image__image {
    flex-basis: 55%;
  }

  .content-image--reverse .content-image__content {
    flex-basis: 40%;
  }
  .content-image--reverse .content-image__image {
    flex-basis: 55%;
  }
}
.intro-container {
  height: 50vh;
  position: relative;
}
.intro-container img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.intro__content {
  padding: 10px 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
}

@media screen and (min-width: 37.5rem) {
  .intro-container {
    height: 75vh;
  }
}
/* Site header with navigation */
.site-header {
  padding: 30px;
  text-align: center;
  background-color: #ffe9c7;
  color: #111;
  font-family: "Raleway", sans-serif;
}

.site-logo {
  display: block;
}
.site-logo:hover, .site-logo:focus {
  text-decoration: none;
}

.site-header-nav ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-header-nav li {
  margin-right: 30px;
}
.site-header-nav li:last-child {
  margin-right: 0;
}
.site-header-nav a {
  color: #111;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.125rem;
}
.site-header-nav a:hover, .site-header-nav a:focus {
  color: #5e5e5e;
}

.site-header__toggle button {
  position: relative;
  width: 40px;
  height: 40px;
}

.menu-toggle-icon {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  right: 15px;
  margin-top: -1px;
}
.menu-toggle-icon::before {
  top: 0;
  transform: rotate(45deg);
  transition: transform 0.15s ease;
}
.menu-toggle-icon::after {
  bottom: 0;
  transform: rotate(-45deg);
}
.menu-toggle-icon::before, .menu-toggle-icon::after {
  content: "";
  display: block;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: currentColor;
}

.collapsed .menu-toggle-icon {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transition: background-color 0.15s ease;
  top: 50%;
  right: 15px;
  margin-top: -1px;
}
.collapsed .menu-toggle-icon::before {
  top: 0;
  transform: translateY(-10px);
  transition: transform 0.15s ease;
}
.collapsed .menu-toggle-icon::after {
  bottom: 0;
  transform: translateY(10px);
}
.collapsed .menu-toggle-icon::before, .collapsed .menu-toggle-icon::after {
  content: "";
  display: block;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: currentColor;
}

@media only screen and (max-width: 800px) {
  .site-header {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .site-header-nav {
    display: none;
  }
}
.site-header__toggle nav {
  position: absolute;
  left: 0;
  top: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  z-index: 10;
  background-color: #ffe9c7;
}
.site-header__toggle nav li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 22px;
  text-align: right;
}
.site-header__toggle nav a {
  padding: 20px 25px;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}
.site-header__toggle nav a:hover, .site-header__toggle nav a:focus {
  background-color: #ffd594;
  text-decoration: none;
}

@media only screen and (min-width: 800px) {
  .site-header__toggle {
    display: none;
  }

  .site-logo {
    display: inline-block;
    margin-bottom: 20px;
  }
}
.site-footer {
  padding-top: 25px;
  padding-bottom: 25px;
  min-height: 250px;
  background-color: #ffe9c7;
  color: #111;
  font-family: "Raleway", sans-serif;
}
@media screen and (min-width: 37.5rem) {
  .site-footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.site-footer__icon {
  width: 25px;
  height: 25px;
  margin-top: 10px;
}
.site-footer__icon img {
  max-width: 100%;
  height: auto;
}

.site-footer__col {
  display: flex;
  margin-top: 30px;
}

.site-footer__icon-small {
  max-width: 25px;
  margin-right: 12px;
  align-self: flex-start;
}

.site-footer__social a {
  display: flex;
  align-items: center;
}
.site-footer__social img {
  margin-right: 5px;
  max-width: 25px;
}
.site-footer__social a:hover,
.site-footer__social a:focus {
  text-decoration: none;
}
.site-footer__social a:hover .text,
.site-footer__social a:focus .text {
  text-decoration: underline;
}

.site-footer__title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
}

@media screen and (min-width: 37.5rem) {
  .site-footer__logo {
    flex-shrink: 0;
  }

  .site-footer__nav {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: 550px;
  }

  .site-footer__col {
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    max-width: 50%;
  }
}
@media screen and (min-width: 62.5rem) {
  .site-footer__inner {
    display: flex;
  }

  .site-footer__logo {
    margin-right: 50px;
  }

  .site-footer__nav {
    max-width: none;
    display: flex;
    flex-grow: 1;
    flex-wrap: initial;
  }

  .site-footer__col {
    width: 25%;
    max-width: 250px;
    margin-top: 0;
    margin-right: 30px;
    flex-shrink: 1;
  }
  .site-footer__col:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 68.75rem) {
  .site-footer__logo {
    margin-right: 100px;
  }
}

/*# sourceMappingURL=main.css.map */
