.block-content {
  @include section-margin;

  h1 {
    color: $color-beige-dark;
  }
}

.iframe-container {
  margin-top: 20px;
}

.section-demo {
  @include section-margin;

  font-size: rem(20);
  text-align: center;
}

.contact-block {
  @include section-padding;

  background-color: $color-beige;
  color: $color-dark;
  font-size: rem(18);
}
.contact-block__heading {
  margin-bottom: 30px;
  text-align: center;
  h2 {
    font-size: rem(42);
  }
}
.contact-block__inner {
  display: flex;
}
.contact-block__image {
  max-width: 350px;
  margin-right: 50px;

  img {
    max-width: 100%;
  }
}
