.block-content {
  @include section-margin;

  h1 {
    color: $color-beige-dark;
  }
}

.iframe-container {
  margin-top: 20px;
}

.section-demo {
  @include section-padding;

  background-color: $color-beige;
  font-size: rem(20);
  text-align: center;
  color: $color-dark;
}

.social-section {
  @include section-margin;

  text-align: center;

  h1 {
    margin-bottom: 30px;
    font-size: 50px;
  }
  a {
    color: $color-dark;
    display: inline-flex;
    align-items: center;
    font-size: rem(40);

    &:hover,
    &:focus {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  img {
    margin-right: 30px;
    max-width: 60px;
  }
}

.contact-block {
  @include section-padding;

  background-color: $color-beige;
  color: $color-dark;
  font-size: rem(18);

  .btn {
    padding: 15px 30px;
    background: #fff;
    color: $color-beige-dark;
    text-transform: uppercase;
    font-family: "Raleway";

    &:hover,
    &:focus {
      text-decoration: none;
      background: darken(#fff, 3%);
    }
  }
}

.contact-details {
  a {
    display: inline-flex;
    align-items: center;
  }
  li {
    margin-bottom: 15px;

    img {
      margin-right: 10px;
      width: 30px;
      align-self: flex-start;
    }
  }
}
.contact-block__heading {
  margin-bottom: 30px;
  text-align: center;
  h2 {
    font-size: rem(42);
  }
}

.contact-block__image {
  height: 350px;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

@include media-min(rem(400)) {
  .contact-block__image {
    height: 400px;
  }
}
@include media-min(rem(450)) {
  .contact-block__image {
    height: 500px;
  }
}
@include media-min(rem(600)) {
  .contact-block__inner {
    display: flex;
  }
  .contact-block__image {
    flex-basis: 35%;
    height: auto;
  }
  .contact-block__content {
    flex-basis: 50%;
    margin-left: 80px;
  }
}
