@font-face {
  font-family: "Raleway";
  font-weight: 500;
  src: url("fonts/Raleway-Medium.ttf") format("opentype");
}

@font-face {
  font-family: "Raleway";
  font-weight: 400;
  src: url("fonts/Raleway-Regular.ttf") format("opentype");
}

html {
  font-family: $font-stack-main;
}
body {
  color: $color-body-foreground;
}
