@mixin media-min($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}
@mixin media-max($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin section-margin {
  margin-top: $section-spacing-small;
  margin-bottom: $section-spacing-small;

  @include media-min(rem(600)) {
    margin-top: $section-spacing;
    margin-bottom: $section-spacing;
  }
}
@mixin section-padding {
  padding-top: $section-spacing-small;
  padding-bottom: $section-spacing-small;

  @include media-min(rem(600)) {
    padding-top: $section-spacing;
    padding-bottom: $section-spacing;
  }
}
@mixin section-padding-top {
  padding-top: $section-spacing-small;

  @include media-min(rem(600)) {
    padding-top: $section-spacing;
  }
}

@mixin page-margin {
  padding-right: $page-margin-small;
  padding-left: $page-margin-small;

  @include media-min(rem(600)) {
    padding-right: $page-margin;
    padding-left: $page-margin;
  }
}
