// General colors
$color-beige: #f1e0cb;
$color-gray-light: #c9c4c4;
$color-beige-dark: #806b52;
$color-dark: #111;

// Kanske använda denna beigA  rgba(192,181,169,1);//

// More specifics
$color-body-foreground: $color-beige-dark;
