.site-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $color-beige;
  color: $color-dark;
  font-family: "Raleway", sans-serif;
}
.site-footer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.site-footer__logo {
  max-width: 150px;

  a {
    display: inline-block;
  }
}
hr {
  margin-top: 25px;
  margin-bottom: 30px;
}
.site-footer__bottom {
  text-align: center;
}

@include media-min(rem(600)) {
  .site-footer__bottom {
    ul {
      display: flex;
    }
    li:first-child {
      margin-right: 20px;
    }
    a {
      &:hover,
      &:focus {
        color: lighten($color-dark, 30%);
        text-decoration: none;
      }
    }
  }
}

@include media-min(rem(800)) {
  .site-footer__logo {
    max-width: 200px;
  }
}
