/* Site header with navigation */

$breakpoint-site-header-toggle: 800px;

.site-header {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  background-color: $color-beige;
  color: $color-dark;
  font-family: $font-stack-alt;
}
.site-header__logo {
  max-width: 130px;
}
.site-header__toggle {
  position: relative;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0);
  border: none;
}
.site-header__nav {
  a {
    text-transform: uppercase;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}
.menu-toggle-icon {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  right: 0;
  margin-top: -1px;
  background-color: currentColor;

  &::before,
  &::after {
    content: "";
    display: block;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: currentColor;
  }
  &::before {
    top: 0;
    transform: translateY(-10px);
    transition: transform 0.15s ease;
  }
  &::after {
    bottom: 0;
    transform: translateY(10px);
  }
}

.menu-toggle-icon {
  .nav--open & {
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.15s ease;

    &::before {
      top: 0;
      transform: rotate(45deg);
      transition: transform 0.15s ease;
    }
    &::after {
      bottom: 0;
      transform: rotate(-45deg);
    }
  }
}

// Toggled menu for small screens
@media only screen and (max-width: $breakpoint-site-header-toggle) {
  .site-header {
    position: relative;
  }
  .site-header__inner {
    display: flex;
    justify-content: space-between;
  }
  .site-header__nav {
    display: none;

    .nav--open & {
      display: block;
    }

    position: absolute;
    left: 0;
    top: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    z-index: 10;
    background-color: $color-beige;

    li {
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      font-size: 22px;
      text-align: right;
    }
    a {
      padding: 20px 25px;
      display: block;

      &:hover,
      &:focus {
        background-color: darken($color-beige, 5%);
      }
    }
  }
}

@include media-min(rem(600)) {
  .site-header {
    // padding-top: 20px;
    // padding-bottom: 20px;
  }
}

// Larger screens
@media only screen and (min-width: $breakpoint-site-header-toggle) {
  .site-header__logo {
    display: inline-block;
    max-width: 160px;
    margin-bottom: 10px;
  }
  .site-header__toggle {
    display: none;
  }
  .site-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .site-header__nav {
    ul {
      display: flex;
      justify-content: center;
    }
    li {
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }
    a {
      font-size: rem(22);

      &:hover,
      &:focus {
        color: lighten($color-dark, 30%);
      }
    }
  }
}
