.site-footer {
  @include section-padding;

  min-height: 250px;
  background-color: $color-beige;
  font-family: "Raleway", sans-serif;
}

.site-footer__icon {
  width: 25px;
  height: 25px;
  margin-top: 10px;

  img {
    max-width: 100%;
    height: auto;
  }
}

.site-footer__col {
  display: flex;
  margin-top: 30px;
}

.site-footer__icon-small {
  max-width: 25px;
  margin-right: 12px;
  align-self: flex-start;
}

.site-footer__social {
  a {
    display: flex;
    align-items: center;
  }
  img {
    margin-right: 5px;
    max-width: 25px;
  }
  a:hover,
  a:focus {
    text-decoration: none;

    .text {
      text-decoration: underline;
    }
  }
}
.site-footer__title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: rem(18);
}

@include media-min(rem(600)) {
  .site-footer__logo {
    flex-shrink: 0;
  }
  .site-footer__nav {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: 550px;
  }
  .site-footer__col {
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    max-width: 50%;
  }
}
@include media-min(rem(1000)) {
  .site-footer__inner {
    display: flex;
  }
  .site-footer__logo {
    margin-right: 50px;
  }
  .site-footer__nav {
    max-width: none;
    display: flex;
    flex-grow: 1;
    flex-wrap: initial;
  }
  .site-footer__col {
    width: 25%;
    max-width: 250px;
    margin-top: 0;
    margin-right: 30px;
    flex-shrink: 1;

    &:last-child {
      margin-right: 0;
    }
  }
}

@include media-min(rem(1100)) {
  .site-footer__logo {
    margin-right: 100px;
  }
}
